<h1>All Avilable Jobs</h1>
<div class="my-3">
<%= form_tag jobs_path, :method => 'get' do %>
<%= text_field_tag :search,params[:search] %>
<%= submit_tag "Search"%>
<% end %>
</div>
<% @job.each do |job| %>


<div class="card">
  <h5 class="card-header"></h5>
  <div class="card-body">
    <h5 class="card-title"><%= link_to job.title, job %></h5>
		 <h6 class="card-subtitle mb-2 text-muted">By : <%= job.user.name%></h6>
     <p class="card-text"><%= job.description%></p>
    <p class="date"><%= job.created_at.strftime("%B %d, %Y") %></p>
    
   <% if current_user!=nil or current_freelancer!=nil %>
    <%= link_to 'Bid Project',root_path ,class:"btn btn-primary"%>
  <% end %>
   <% if current_admin!=nil %>
    <%= link_to 'Edit Job',root_path ,class:"btn btn-warning"%>
    <%= link_to 'Delete Job',root_path ,class:"btn btn-danger"%>
  <% end %>
  </div>
</div>
<% end %>
